---
import { SLIDER } from "../utils/consts";
---

<div id="slider" class="relative overflow-hidden w-full h-[600px]  mx-auto">
  <div id="slides" class="absolute inset-0">
    {
      SLIDER.length > 0 && (
        <div
          id="slider"
          class="relative overflow-hidden w-full h-[600px] mx-auto"
        >
          <div id="slides" class="absolute inset-0">
            {SLIDER.map(
              ({
                Img,
                ImgMovil,
                AltSlider,
                breadcrumb1,
                breadcrumb2,
                breadcrumb3,
                title1,
                title2,
                title3,
                description,
              }) => (
                <div class="slide w-full h-full">
                  <picture>
                    <source media="(min-width: 1024px)" srcset={Img} />
                    <img
                      src={ImgMovil}
                      alt={AltSlider}
                      class="w-full h-full object-center object-cover"
                      loading="lazy"
                    />
                  </picture>
                  <div class="overlay flex flex-col gap-4 lg:justify-center items-start ">
                    <div class="m-auto flex flex-col gap-3 p-4 lg:mx-[10%] lg:w-1/2  lg:mt-[15%] ">
                      <div class=" text-white">
                        {breadcrumb1 && (
                          <p class="inline border-2 border-border-button rounded-xl px-2 py-1 text-sm mr-2 lg:mr-4 lg:text-base">
                            {breadcrumb1}
                          </p>
                        )}
                        {breadcrumb2 && (
                          <p class="inline border-2 border-border-button rounded-xl px-2 py-1 text-sm lg:mr-4 lg:text-base">
                            {breadcrumb2}
                          </p>
                        )}
                        {breadcrumb3 && (
                          <p class="inline border-2 border-border-button rounded-xl px-2 py-1 text-sm lg:text-base">
                            {breadcrumb3}
                          </p>
                        )}
                      </div>
                      <div class="text-white lg:max-w-lg">
                        <p class="text-2xl font-black font-fallback  lg:leading-10 lg:text-[35px]">
                          <span class="font-bold">{title1} </span>
                          <span class="font-normal">{title2} </span>
                          <span class="font-bold">{title3}</span>
                        </p>
                        <p class="text-lg font-base font-fallback lg:text-xl">
                          {description}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              ),
            )}
          </div>
        </div>
      )
    }
  </div>
</div>

<style>
  @keyframes fade {
    0% {
      opacity: 0;
    }
    6.66% {
      opacity: 1;
    }
    33.33% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  #slides .slide {
    position: absolute;
    inset: 0; /* apiladas unas sobre otras y ocupando todo #slides */
    width: 100%; /* Asegura que tome el ancho completo */
    height: 100%; /* Asegura que tome el alto completo */
    animation: fade 30s ease-in-out infinite; /* cross-fade entre slides (ease-in-out es más suave) */
    opacity: 0; /* empiezan ocultas */
  }

  #slides .slide:nth-child(1) {
    animation-delay: 0s;
  } /* Visible aprox. 0s–10s */
  #slides .slide:nth-child(2) {
    animation-delay: 10s;
  } /* Visible aprox. 10s–20s */
  #slides .slide:nth-child(3) {
    animation-delay: 20s;
  } /* Visible aprox. 20s–30s */

  .overlay {
    position: absolute;
    inset: 0; /* cubre toda la slide */
    background-color: rgba(0, 100, 255, 0.4); /* azul 40% */
    pointer-events: none; /* no bloquea eventos del ratón */
    z-index: 10; /* se asegura que esté encima de la imagen */
  }
</style>
